@model RegisterUserVM;

@{
    ViewData["Title"] = "Register";
}

<style>
    body {
        overflow: hidden;
    }
    .full-height {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="row full-height">
    <div class="col-md-4 card p-3">
        <h2 class="text-center text-info">Sign Up</h2>

        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-1">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" placeholder="Display name" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
        </div>
        <div class="mb-1">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" placeholder="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-1">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-1">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-1">
            <label asp-for="RepeatPassword" class="control-label"></label>
            <input asp-for="RepeatPassword" type="password" class="form-control" placeholder="Repeat password" />
            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <span class="text-center">Already have an account? <a asp-action="Login">Login</a></span>
        </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}