@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GameAttic</h1>
    <p>
        With GameAttic you can add games to your collection.
        This application is meant for people who want a clear overview of the games they own.
    </p>
</div>
